.calendar-day,
.calendar-day--is-from-prev-month {
  background-color: #fff;
  width: 165px;
  height: 171px;
  border-radius: 5px;
  margin: 1.5px 2px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__number {
    color: #2d224c;
    font-weight: bold;

    &--is-active {
      width: 21px;
      height: 21px;
      color: #fff;
      background-color: #d4145a;
      border-radius: 50%;
    }
  }

  &--is-from-prev-month {
    .calendar-day__number--is-from-prev-month {
      font-weight: bold;
      color: #c4c4c4;
    }
  }
}
