.calendar-day, .calendar-day--is-from-prev-month {
  background-color: #fff;
  width: 165px;
  height: 171px;
  border-radius: 5px;
  margin: 3px;
  padding: 4px;

  &__number {
    color: #2D224C;
  }

  &--is-from-prev-month {
    .calendar-day__number--is-from-prev-month {
        color: red;
    }
  }
}
